@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.wraper {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
}

/* GMAIL */

.contact-gmail {
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.contact-gmail a {
    display: block;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-gmail a img {
    transition: all 0.3s;
}

.contact-gmail a:hover > img {
    transform: scale(1.1);
}

/* CURSOR FOR TYPE EFFECT */

.txt-type > .txt {
    border-right: 1px solid #777;
}

/* DROPDOWN MENU */

#dropdown-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99;
    display: none;
}

#dropdown-menu ul {
    list-style-type: none;
    padding: 100px 0 0 0;
    text-align: center;
}

#dropdown-menu ul li {
    padding: 10px 0px;
}

#dropdown-menu ul li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
}

#dropdown-menu ul li:last-child > a {
    text-transform: lowercase;
}

#dropdown-menu ul li a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#dropdown-menu ul li a:hover {
    color: #3d92fd;
}

.menu-humburger {
    position: absolute;
    top: 15px;
    right: 20px;

    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 3px;

    display: none;
}

.menu-humburger > .menu-humbirger-inner {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.menu-humburger > .menu-humbirger-inner > div {
    height: 1.5px;
    width: 100%;
    background-color: #000000;
    margin: 3.5px 0;
}

.menu-small-devices {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
    position: relative;

    display: none;
}

.menu-small-devices > .menu-small-devices-wraper > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu-small-devices > .menu-small-devices-wraper > ul > li {
    display: block;
}

.menu-small-devices > .menu-small-devices-wraper > ul > li > a {
    display: block;
    padding: 20px 0px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.menu-small-devices > .menu-small-devices-wraper > ul > li > a:hover {
    color: #3d92fd;
}

.menu-small-devices
    > .menu-small-devices-wraper
    > ul
    > li
    > #mail-small-devices
    > img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#remove-menu {
    position: absolute;
    right: 20px;
    top: 25px;
    width: 25px;
    height: 25px;
}

.menu-small-devices-wraper {
    padding: 80px 0;
}

#first-section {
    width: 100%;
    height: 80vh;
    background: url("img/code1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-attachment: fixed;
    position: relative;
}

.inner-form {
    position: absolute;
    right: 0;
    top: -20px;
}

.inner-form p {
    font-weight: 300;
}

.inner-form form input {
    width: 400px;
    height: 40px;
    padding: 0 0 0 10px;
    border-radius: 3px;
    border: none;
}

.inner-form form textarea {
    border-radius: 3px;
    border: none;
    padding: 10px 0 0 10px;
}

.inner-form form a {
    width: 100%;
    text-decoration: none;
    background-color: transparent;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 3px;
    transition: 0.5s;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.inner-form form a:hover {
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #3d92fd;
}

.inner-content {
    position: relative;
    height: auto;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.first-section-content {
    text-align: center;
}

.first-section-content img.profile-image {
    display: block;
    margin: 0 auto 10px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.first-section-content h1 {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 4em;
    display: inline-block;
    border-radius: 3px;
}

.first-section-content h2 {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2em;
    border-radius: 3px;
}

.first-section-content p {
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 30px;
    font-weight: 400;
}

.first-section-content a {
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 30px;
    margin-top: 50px;
    text-transform: uppercase;
    transition: 0.5s;
    border: 2px solid #ffffff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    font-weight: 400;
}

.first-section-content a:hover {
    background-color: #ffffff;
    color: #3d92fd;
    border: 2px solid #ffffff;
}

#image-section-1 {
    position: absolute;
    width: 350px;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.social-media {
    margin-top: 35px;
}

.social-media a {
    border: none;
    padding: 0 0 0 0;
    margin-right: 15px;
}

.social-media a:hover {
    background-color: transparent;
    color: none;
    border: none;
}

.social-media img {
    width: 40px;
    height: 40px;
}

.social-media img:hover {
    opacity: 0.7;
}

.second-header {
    width: 100%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.97;
}

.second-header .wraper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.second-header a {
    display: inline-block;
}

#mail {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    transition: 0.5s;
    font-size: 15px;
}

#mail:hover {
    color: #023dbc;
}

#mail img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.second-header-links {
    display: inline-block;
    margin-left: 100px;
}

.second-header-links a {
    text-decoration: none;
}

.second-header-links ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style-type: none;
}

.second-header-links ul li {
    margin: 0 20px;
}

.second-header-links ul li:last-child > a {
    position: relative;
}

.second-header-links ul li:last-child > a > span {
    position: absolute;
    top: -15px;
    left: 20px;
    background-color: #ff08e2;
    color: #ffffff;
    line-height: 20px;
    font-size: 10px;
    font-weight: 700;
    padding: 0 5px;
    border-radius: 3px;
    text-transform: uppercase;
}

.second-header-links ul li a {
    color: #000000;
    text-transform: uppercase;
    font-weight: 400;
    transition: 0.5s;
    font-size: 15px;
    padding: 5px;
}

.second-header-links ul li a:hover {
    color: #023dbc;
}

#logo {
    color: #3d92fd;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
}

#logo img {
    height: 60px;
}

.first-section-subjects h1 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 40px;
}

.first-section-subjects .subject-card:nth-child(2) {
    margin: 0 50px;
}

.first-section-bottom {
    padding: 50px 0px;
}

.subject-card {
    text-align: center;
    padding: 40px;
    background-color: #f9f9f9;
    transition: 0.5s;
}

.subject-card img {
    margin-bottom: 20px;
}

.subject-card a {
    text-decoration: none;
    background-color: #3d92fd;
    color: #fff;
    border: 1px solid #3d92fd;
    padding: 5px 15px;
    border-radius: 20px;
}

.subject-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.subject-card i {
    font-size: 40px;
    color: #3d92fd;
    margin-bottom: 15px;
}

.subject-card h4 {
    font-weight: 500;
    font-size: 18px;
}

.subject-card p {
    font-weight: 400;
}

/* ABOUT SECTION */

#about {
    background-color: #f9f9f9;
    padding: 80px 0;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.aboute-content-left h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3em;
}

.aboute-content-left p {
    font-weight: 400;
}

.aboute-content-middle h4 {
    font-size: 1em;
}

.aboute-content-right img {
    width: 350px;
}

.about-content-image h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.other-tech {
    display: flex;
    justify-content: space-around;
}

.about-content-image img {
    width: 100px;
    height: 100px;
}

.other-tech-wrapper {
    margin: 0 auto;
}

.other-tech-wrapper img {
    margin: 0 50px;
}

/* PROJECTS */

#projects {
    padding: 80px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-attachment: fixed;
    position: relative;
}

#projects h3 {
    font-size: 3em;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000000;
    margin-bottom: 40px;
}

.project-card {
    margin-bottom: 30px;
}

.project-card a {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
}

.project-card img {
    width: 100%;
    height: 185px;
    border-radius: 3px;
    transition: 0.5s;
}

.project-card a:nth-child(1) {
    position: relative;
    display: block;
    overflow: hidden;
}

.project-card a:nth-child(1):hover > .project-inner-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card a:nth-child(1):hover > img {
    transform: scale(1.1);
    transition: 0.5s;
}

.project-card .card-btn {
    background-color: #3d92fd;
    color: #ffffff !important;
}

.projectinner-content-wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-card a:nth-child(2) {
    display: block;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    border-radius: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

/* MEDIA QUERY */

@media (max-width: 768px) {
    .subject-card {
        margin-bottom: 40px;
    }

    .first-section-subjects h1,
    .aboute-content-left h3,
    #projects h3 {
        font-size: 2em;
    }

    #projects h3 {
        margin-bottom: 0px;
    }
}

@media (max-width: 1076px) {
    .subject-card:hover {
        box-shadow: none;
    }

    .second-header {
        height: 80px;
    }

    .menu-humburger {
        display: block;
    }

    .second-header-links {
        display: none;
    }

    #mail {
        display: none;
    }

    #logo img {
        height: 60px;
    }
}

@media (max-width: 500px) {
    .social-media {
        display: none;
    }

    .menu-humburger {
        display: block;
    }

    .second-header {
        height: 80px;
    }

    #logo img {
        height: 60px;
    }

    .aboute-content-right img {
        width: 100%;
        margin-top: 50px;
    }

    .about-content-image h4 {
        text-align: center !important;
        font-size: 1.4em;
        margin: 20px 0;
    }

    .about-content-image img {
        width: 50px;
        height: 50px;
    }

    .inner-form {
        display: none;
    }

    #image-section-1 {
        display: none;
    }

    #mail {
        display: none;
    }

    .second-header-links {
        display: none;
    }

    .first-section-content {
        text-align: center;
    }

    .first-section-content h1 {
        font-size: 2.5em;
    }

    .first-section-content h2 {
        font-size: 2em;
        display: inline-block;
    }

    .first-section-subjects {
        margin-left: 0;
        display: block;
        height: 100%;
    }

    .aboute-content-right img {
        height: 300px;
    }

    #about {
        padding: 40px 0;
    }

    .social-media a img {
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
    }

    .other-tech-wrapper img {
        margin: 0 0;
    }

    .project-card {
        margin-top: 50px;
    }

    .subject-card {
        text-align: center;
        padding: 30px 20px;
    }
}
